*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;

}
.gallery-panel{
    display: flex;
    position: fixed;
    background-repeat: no-repeat;
    background-image: cover;
    align-items: center;
}